service-api-template/venv
terraform/terraform.tfvars

# Terraform files
**/.terraform/*
**/.terraform.lock*
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan

# Python files
__pycache__/
*.pyc
.venv/
venv/

# OS-specific files
.DS_Store

# File to keep track of new updates
updates.md
