${jsonencode(
[
  {
    name         = "user-service"
    image        = "${account_id}.dkr.ecr.${aws_region}.amazonaws.com/user-service:${image_tag}"
    portMappings = [
      {
        containerPort = 8000
      }
    ]
    environment = [
      {
        name = "DATABASE_URL",
        value = "postgresql://${db_username}:${db_password}@${db_address}:${db_port}/${db_name}?sslmode=require"
      },
      {
        name = "JWT_SECRET_KEY", value = jwt_secret_key
      }
    ]
    logConfiguration = {
      logDriver = "awslogs"
      options   = {
        "awslogs-group" = cloudwatch_log_group,
        "awslogs-region" = aws_region,
        "awslogs-stream-prefix" = "ecs"
      }
    } 
  },
  {
    name = "reverse-proxy"
    image = "${account_id}.dkr.ecr.${aws_region}.amazonaws.com/reverse-proxy:${image_tag}"
    portMappings = [
      {
        containerPort = 80
      }
    ]
    healthCheck = {
        command = [
          "CMD-SHELL",
          "curl -f http://127.0.0.1/health || exit 1"
        ]
        interval = 30
        timeout = 5
        retries = 3
        startPeriod = 60
      }
    logConfiguration = {
        logDriver = "awslogs"
        options   = {
          "awslogs-group" = cloudwatch_log_group,
          "awslogs-region" = aws_region,
          "awslogs-stream-prefix" = "ecs"
        }
      }
  }
]
)}